.hero {
    background-image: url('../../../../assets/img/hero_bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 855px;
    margin-bottom: 130px;
    position: relative;

    &__title {
        line-height: 95px;
        width: 100%;
        max-width: 835px;
        font-weight: 600;
        margin-bottom: 30px;
    }
    
    &__subtitle {
        color: #fff;
        margin-bottom: 50px;
    }
    
    .main-btn {
        display: block;
        text-align: center;
        line-height: 47px;
        position: relative;
        cursor: pointer;
        padding-right: 20px;

        &:after {
            content: "";
            display: block;
            width: 20px;
            height: 20px;
            background-image: url('../../../../assets/img/arrow-down.svg');
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            top: 13px;
            right: 20px;
        }
    }
    
    .container {
        position: absolute;
        left: 50%;
        top: 190px;
        transform: translateX(-50%);
    }
}