@import "../../../../styles.scss";

.card {
    background: $beige;
    &__edit {
        @include button($grey, transparent, rgba($grey, .25), size(80));
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 0;
        margin:size(15);
    }
    &__header {
        position: relative;
        padding-top: size(30);
        padding-bottom: size(30);
    }
    &__body {
        position: relative;
        overflow: hidden;
        aspect-ratio: 16/9;
    }
    &__category {
        margin: 0 size(40) size(15) size(40);
    }
    &__title {
        margin: 0 size(40) size(15) size(40);
    }
    &__location {
        margin: 0 size(40) size(20) size(40);
    }
    .features {
        border-top: 2px solid white;
        @include columns-container(size(15), auto, size(20));
        padding: size(20) size(40) 0;

        &__title {
            margin-bottom: size(15);
        }
        &__content {
            @extend h3;
        }
    }
    &__image {
        width: 100%;
        height: auto;
    }
    &__button {
        @include button($green, $white, transparent, size(50));
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: size(15);
        right: size(15);
    }
}