<article class="card">
    <div class="card__header">
        <button class="card__edit" (click)="catchJourney(journey)">Editar</button>
        <h4 class="card__category">{{journey.category}}</h4>
        <h3 class="card__title">{{journey.title}}</h3>
        <p class="card__location">{{journey.location}}</p>
        <div class="features">
            <div class="features__wrapper">
                <p class="features__title">Distancia</p>
                <p class="features__content">{{journey.distance}} km</p>
            </div>
            <div class="features__wrapper">
                <p class="features__title">Dificultad</p>
                <p class="features__content">{{journey.dificulty}}</p>
            </div>
            <div class="features__wrapper">
                <p class="features__title">Puntuación</p>
                <p class="features__content">{{journey.rating}}</p>
            </div>
        </div>
    </div>
    <div class="card__body">
        <img width="600" class="card__image" [src]="journey.imgs[0]" [alt]="journey.title">
        <a class="card__button" [attr.data-id]="journey.id" (click)="getSelectedJourneyDispatcher(journey)"><span class="material-icon material-symbols-outlined">add</span></a>
    </div>
</article>