@mixin titles($color, $size) {
    font-weight: $fontWeightBold;
    font-size: $size;
    color: $color;
}

@mixin columns-container($gap, $col-size, $padding) {
    display: flex;
    justify-content: space-between;
    gap: $gap;
    flex-wrap: wrap;
    padding: 0 $padding;

    .col {
        flex-basis: calc($col-size - $gap);
    }
}

@mixin button($color, $background-color, $border-color, $max-width) {
    color: $color;
    background-color: $background-color;
    border-color: $border-color;
    font-size: size(16);
    line-height: size(14);
    font-weight: $fontWeightBold;
    height: size(50);
    border-radius: size(8);
    width: 100%;
    max-width: $max-width;
    box-shadow: none;
    border: 1px solid $border-color;
}