@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

$fontFamily: 'Raleway', sans-serif;
$fontWeightLight: 300;
$fontWeightBold: 700;

$beige: #F0EEC9;
$green: #2D5C0B;
$grey: #666666;
$white: #fff;
$darkRed: #5C0B0B;

$mainWidth: 1235;
