<h1>Edit</h1>
<form class="manage" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div class="col2">
    <div class="col manage__wrapper">
      <label for="title">Título</label>
      <input type="text" name="title" formControlName="title" placeholder="Añadir un título de máximo 100 carácteres">
    </div>
    <div class="col manage__wrapper">
      <label for="title">Categorías</label>
      <select formControlName="category">
        <option *ngFor="let item of routeOptions.category" [value]="item">{{item}}</option>
      </select>
    </div>
    <div class="col manage__wrapper">
      <label for="distance">Distancia</label>
      <input type="text" name="distance" formControlName="distance" placeholder="Añadir la distancia sin comas, ni puntos">
      <span>km</span>
    </div>
    <div class="col manage__wrapper">
      <label for="dificulty">Dificultad</label>
      <select formControlName="dificulty">
        <option *ngFor="let item of routeOptions.dificulty" [value]="item">{{item}}</option>
      </select>
    </div>
    <div class="col manage__wrapper">
      <label for="rating">Puntuación</label>
      <p>0 (bajo) - 5 (más alta)</p>
      <input name="rating" type="range" min="0" max="5" step="0.1" [value]="ratingValue" formControlName="rating">
<!--       <mat-slider
        thumbLabel
        tickInterval="1000"
        step="0.1"
        min="0"
        max="5"
        aria-label="units"
        [value]="ratingValue"
        formControlName="rating"
      ></mat-slider> -->
    </div>
    <div class="col manage__wrapper">
      <label for="image">Imagen</label>
      <p>Se admite .jpg y .png</p>
      <input 
       type="file"
       name="image"
       accept="image/png, image/jpeg"
       formControlName="imgs"
       [value]="imageValue"
      >
    </div>
  </div>
  <div class="manage__wrapper">
    <label for="image">Descripción</label>
    <textarea name="description" placeholder="Máximo 500 carácteres" formControlName="description"></textarea>
  </div>
  <div class="col2">
    <div class="">
      <button type="submit">Enviar</button>
    </div>
    <div class="">
      <button type="button" (click)="delete()">Borrar ruta</button>
    </div>
  </div>
</form>
