<ng-container *ngIf="isOpen">
    <div class="veil">
        <div class="modal">
            <div class="modal__container">
                <ng-template [ngTemplateOutlet]="closeIcon"></ng-template>
                <div class="col2">
                    <div class="col col--left-column">
                        <div class="modal__content">
                            <h4 class="modal__category">{{ selectedJourney.category }}</h4>
                            <h3 class="modal__title">{{ selectedJourney.title }}</h3>
                            <p class="modal__location">{{ selectedJourney.location }}</p>
                            <p class="modal__text">{{ selectedJourney.description }}</p>
                        </div>
                        
                        <div class="modal__extra-info">
                            <div class="modal__extra-info-element">
                                <p class="modal__extra-info-title">Distancia</p>
                                <div class="modal__extra-info-data">{{ selectedJourney.distance }} km</div>
                            </div>
                            <div class="modal__extra-info-element">
                                <p class="modal__extra-info-title">Dificultad</p>
                                <div class="modal__extra-info-data">{{ selectedJourney.dificulty }}</div></div>
                            <div class="modal__extra-info-element">
                                <p class="modal__extra-info-title">Puntuación</p>
                                <div class="modal__extra-info-data">{{ selectedJourney.rating }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <figure class="modal__figure">
                            <img class="modal__img" [src]="selectedJourney.imgs[0]" [alt]="selectedJourney.title">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>


<ng-template #closeIcon>
    <span class="modal__close-button material-icon material-symbols-outlined" (click)="closeModal()">close</span>
</ng-template>
