<header class="header">
    <div class="container header__container--flex">
        <a routerLink="/" class="header__logo">
            <img src="../../../assets/img/UpgradeJourney_logo.svg" alt="">
        </a>
        <nav class="header__navigation">
            <ul class="header__navigation-list">
                <li class="header__navigation-item">
                    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="header__navigation-link">Home</a>
                </li>
                <li class="header__navigation-item">
                    <a routerLink="/management" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="header__navigation-link">Gestión</a> 
                </li>
            </ul>
        </nav>
    </div>
</header>